/* Global Styling */
.App {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  background-color: #f8f9fa; /* Light background color for the app */
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #343a40; /* Dark color for header */
}

/* Form Styling */
form {
  max-width: 800px; /* Limit the width of the form */
  margin: 0 auto 30px; /* Center the form and add margin at the bottom */
}

/* Customizing the Bootstrap Form Elements */
input {
  padding: 10px;
  font-size: 1rem;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
}

/* List Group (Expense List) */
ul {
  margin-top: 30px;
}

/* Card for Total Expenses */
.card {
  background-color: #ffffff;
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Slight rounding of corners */
}

.card-body {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.currency-tab {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff; /* Set the background to white */
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ccc; /* Add border to match other fields */
  margin-top: 5px;
  width: 100%; 
}



/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Adjust header font size for smaller screens */
  }

  .App {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  form {
    padding: 10px;
  }

  .card-body {
    font-size: 1rem; /* Slightly smaller text in card */
  }

  button {
    font-size: 1rem; /* Adjust button size for mobile screens */
  }
}
